flows.json
[
    {
        "id": "66d62ace1f3cf01e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6151b642db6e3918",
        "type": "group",
        "z": "66d62ace1f3cf01e",
        "name": "Home",
        "style": {
            "stroke": "#92d04f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3efb62b7e279fac3",
            "abb224f0522039e5",
            "6e3e2aa559f00652",
            "5bc97fdbf5568df5",
            "af836cb06b9be681",
            "11d4041e3e232042",
            "b11b970e6e4b9ad9",
            "6b8cf7bb1a1d74e3",
            "0b42309509627bcc",
            "a01a92da9853ee25",
            "d15bb0e628064359",
            "46f4e88a542ca5db",
            "5efccf85737d40b4",
            "588172a30b805b7c",
            "600e39abc9f46ac8",
            "9d738dfcfb3786fe",
            "f30361fa26ce2f04",
            "c34ca19f8d2fcf7f",
            "5dc0cf5df1981ea9",
            "8923f251ca656cf2"
        ],
        "x": 54,
        "y": 59,
        "w": 732,
        "h": 402
    },
    {
        "id": "3ff7f683f06d7a28",
        "type": "group",
        "z": "66d62ace1f3cf01e",
        "name": "Traffic Cam",
        "style": {
            "stroke": "#ffC000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "94fbc2464dba006e",
            "c7de3cdf54c775b6",
            "9e0390dc616354e5"
        ],
        "x": 814,
        "y": 299,
        "w": 192,
        "h": 162
    },
    {
        "id": "109c6eefb72fdedf",
        "type": "group",
        "z": "66d62ace1f3cf01e",
        "name": "Admin Tasks",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "07b43773b9878d9c",
            "6041d97588906e39",
            "1d40517280e495bc",
            "e86dd1ed2978850c",
            "e373407edb5ec8ae",
            "c18800759b1b8d77",
            "75aba2d075673b3b",
            "a61db04ac2f4917f",
            "14f2f3e0a845ada3",
            "e7d7f29f98f4307a",
            "dbe5b854dd6efcc8",
            "3d7c71e1b25844bf",
            "1a1a4c9ca58ba78f",
            "88d72929e1c72489",
            "c6d93e80a2089ef1",
            "7bbe5350baf2305f",
            "f21021959ba3d0c8",
            "98da23d9f94d7f45",
            "54add883fa0187b5",
            "a51d33d46c1cf125",
            "e95cec74bceb82db",
            "51a396984a561b5d",
            "9081da26f8e095b9",
            "cb629e18496dbdf8",
            "f261d43dfe2f796e",
            "ee6bd21d02d98606",
            "71eda7d2b5067a27",
            "73c2afbd70a05f47",
            "e7cb555a08991004",
            "85d91c550e4711cd",
            "a2df6cb613be0975",
            "5bd557b7581009f3",
            "5988afb87ff6e796",
            "47ec01487de3a822",
            "e2a9ab939b2e5fd2",
            "271eca2e6ba2bf62",
            "35a927075cf27389",
            "65379e63bd5c41ca",
            "881701b2f55ce96f",
            "9b5a301f913cc9d6",
            "629ea2bded793c1b"
        ],
        "x": 54,
        "y": 479,
        "w": 1712,
        "h": 522
    },
    {
        "id": "4ee44b98999e817d",
        "type": "group",
        "z": "66d62ace1f3cf01e",
        "name": "Car Flow",
        "style": {
            "stroke": "#6f2fa0",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "04bba440642aa1aa",
            "b05e765f6dd0df2d",
            "b4331490b5b823df",
            "4f4a6e16563542e4",
            "b2982e288d3840fd",
            "137f636b36572853",
            "9098b670df099dc3",
            "054f85469e821478"
        ],
        "x": 974,
        "y": 19,
        "w": 372,
        "h": 262
    },
    {
        "id": "31a1910d4448483d",
        "type": "group",
        "z": "66d62ace1f3cf01e",
        "name": "Login",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b1068c07995221d3",
            "745bbf2f679fba01",
            "90905b25dd0a01ab",
            "9c469d2be420d4ab",
            "3609165474adc6e4",
            "e89f340902f035a4",
            "4d2430340ee57fcf",
            "74e2e44700a38f7e",
            "a03eb058541b96ce",
            "98ad77c83bb01437",
            "66dcc4c1b632bee8",
            "92c408a65b3ef84f",
            "2cf5822c0d064463",
            "c69eb0a0de0b4b76",
            "16b5d9a01ae48b19",
            "43a352b4cffbfca6",
            "1172fb28299d38e3",
            "f0fd74fb08e11ebf",
            "6aa46d48fc4cbf05",
            "7c2239ccc9752540",
            "8266856107acf519",
            "1256feee341c8ccd",
            "f4ab0ac4cfdb5320",
            "7e9eb67dfb75a3f6",
            "742e3cf7ab3433ee",
            "983947fcc7ab523d",
            "6eebd76ed2383b3d",
            "07d7593f526ff696",
            "d44a77188c34da2f"
        ],
        "x": 54,
        "y": 1079,
        "w": 972,
        "h": 522
    },
    {
        "id": "5f3eccf4f737acfe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "91e36e75e01982fb",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#f29d26",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1f944167f91a251a",
        "type": "ui_tab",
        "name": "Information",
        "icon": "account_box",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b935256560f8da33",
        "type": "ui_group",
        "name": "User information",
        "tab": "1f944167f91a251a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "566c3009413feb64",
        "type": "ui_tab",
        "name": "Login",
        "icon": "supervisor_account",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ba8ff33a6d5b888",
        "type": "ui_group",
        "name": "Login",
        "tab": "566c3009413feb64",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e94314d2feafd46",
        "type": "ui_group",
        "name": "Watering",
        "tab": "5f3eccf4f737acfe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26f26fbdca8238e0",
        "type": "ui_tab",
        "name": "Car Flow",
        "icon": "directions_car",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c70f7992935cc69",
        "type": "ui_group",
        "name": "North",
        "tab": "26f26fbdca8238e0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bb1801a993b36fd",
        "type": "ui_group",
        "name": "South",
        "tab": "26f26fbdca8238e0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd64ab5a049fddd8",
        "type": "ui_group",
        "name": "East",
        "tab": "26f26fbdca8238e0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0dd818a1d6a6c6a",
        "type": "ui_group",
        "name": "West",
        "tab": "26f26fbdca8238e0",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f4650d8de24ad4b",
        "type": "ui_tab",
        "name": "Live Traffic",
        "icon": "videocam",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d4199ea65722ca7d",
        "type": "ui_group",
        "name": "Camera",
        "tab": "5f4650d8de24ad4b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d2f44928ffdb664",
        "type": "ui_group",
        "name": "You cant get home",
        "tab": "5f3eccf4f737acfe",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7937652d7239dd0",
        "type": "ui_group",
        "name": "Dont Drink",
        "tab": "5f4650d8de24ad4b",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab67236617c68a4d",
        "type": "ui_group",
        "name": "Leave sooner",
        "tab": "5f3eccf4f737acfe",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0504d07d794d8b51",
        "type": "ui_group",
        "name": "Keep Calm",
        "tab": "5f4650d8de24ad4b",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09607ab655b50573",
        "type": "ui_tab",
        "name": "Admin tasks",
        "icon": "settings_input_component",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "225d5c09f46be3a6",
        "type": "ui_group",
        "name": "Barrier Controller",
        "tab": "09607ab655b50573",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d4e0ec33aac89b0",
        "type": "ui_group",
        "name": "Traffic Light",
        "tab": "09607ab655b50573",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ae4aa741075032c",
        "type": "ui_group",
        "name": "Traffic Light",
        "tab": "5f3eccf4f737acfe",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d57797fab684f077",
        "type": "ui_group",
        "name": "Barriers",
        "tab": "5f3eccf4f737acfe",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02fc8038ad5aab2b",
        "type": "ui_group",
        "name": "Watering",
        "tab": "09607ab655b50573",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9aee502dcd64e40e",
        "type": "ui_group",
        "name": "TurnAroundController",
        "tab": "09607ab655b50573",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f68392b55f7cecc2",
        "type": "ui_group",
        "name": "Clock",
        "tab": "5f3eccf4f737acfe",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b203ca407fb88eac",
        "type": "ui_group",
        "name": "Lights",
        "tab": "09607ab655b50573",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13ce92e13f5a7876",
        "type": "ui_group",
        "name": "Lights",
        "tab": "5f3eccf4f737acfe",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9d4794438ee3af2",
        "type": "ui_group",
        "name": "History",
        "tab": "09607ab655b50573",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "193781a9a0f98e11",
        "type": "ui_group",
        "name": "Sign up",
        "tab": "566c3009413feb64",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7066c11fdd46d2e4",
        "type": "firebase-config",
        "name": "My Database",
        "authType": "anonymous",
        "claims": {},
        "createUser": true,
        "useClaims": false
    },
    {
        "id": "94fbc2464dba006e",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "3ff7f683f06d7a28",
        "group": "d4199ea65722ca7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Traffic Cam",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "3efb62b7e279fac3",
        "type": "ui_media",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "ab67236617c68a4d",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 3,
        "category": "",
        "file": "image_2024-07-20_233311817.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 130,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "abb224f0522039e5",
        "type": "ui_media",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "8d2f44928ffdb664",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 3,
        "category": "Quotes",
        "file": "image_2024-07-20_232914429.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c7de3cdf54c775b6",
        "type": "ui_media",
        "z": "66d62ace1f3cf01e",
        "g": "3ff7f683f06d7a28",
        "group": "b7937652d7239dd0",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 3,
        "category": "Quotes",
        "file": "image_2024-07-20_233138876.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 890,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9e0390dc616354e5",
        "type": "ui_media",
        "z": "66d62ace1f3cf01e",
        "g": "3ff7f683f06d7a28",
        "group": "0504d07d794d8b51",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 3,
        "category": "Quotes",
        "file": "image_2024-07-20_233958583.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 890,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f261d43dfe2f796e",
        "type": "ui_switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "South Barrier",
        "tooltip": "",
        "group": "225d5c09f46be3a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "e7cb555a08991004"
            ]
        ]
    },
    {
        "id": "ee6bd21d02d98606",
        "type": "ui_switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "North Barrier",
        "tooltip": "",
        "group": "225d5c09f46be3a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "85d91c550e4711cd"
            ]
        ]
    },
    {
        "id": "71eda7d2b5067a27",
        "type": "ui_switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "East Barrier",
        "tooltip": "",
        "group": "225d5c09f46be3a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "a2df6cb613be0975"
            ]
        ]
    },
    {
        "id": "73c2afbd70a05f47",
        "type": "ui_switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "West Barrier",
        "tooltip": "",
        "group": "225d5c09f46be3a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "5bd557b7581009f3"
            ]
        ]
    },
    {
        "id": "07b43773b9878d9c",
        "type": "ui_slider",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "N - S Seconds",
        "tooltip": "Assign waiting time for N - S Light",
        "group": "0d4e0ec33aac89b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "99",
        "step": 1,
        "className": "",
        "x": 1420,
        "y": 720,
        "wires": [
            [
                "e373407edb5ec8ae",
                "1d40517280e495bc",
                "c6d93e80a2089ef1"
            ]
        ]
    },
    {
        "id": "6041d97588906e39",
        "type": "ui_slider",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "E - W Seconds",
        "tooltip": "Assign waiting time for E - W Light",
        "group": "0d4e0ec33aac89b0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "99",
        "step": 1,
        "className": "",
        "x": 1180,
        "y": 580,
        "wires": [
            [
                "e86dd1ed2978850c",
                "c18800759b1b8d77",
                "7bbe5350baf2305f"
            ]
        ]
    },
    {
        "id": "1d40517280e495bc",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "group": "0d4e0ec33aac89b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seconds",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1640,
        "y": 760,
        "wires": []
    },
    {
        "id": "e86dd1ed2978850c",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "group": "0d4e0ec33aac89b0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seconds",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 520,
        "wires": []
    },
    {
        "id": "e373407edb5ec8ae",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "N-S-Sec",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c18800759b1b8d77",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "E-W-Sec",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6e3e2aa559f00652",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "0ae4aa741075032c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "N - S Seconds: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "5bc97fdbf5568df5",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetNSSec",
        "func": "var seconds = flow.get('N-S-Sec');\nmsg.payload = seconds;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "6e3e2aa559f00652"
            ]
        ]
    },
    {
        "id": "af836cb06b9be681",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetEWSec",
        "func": "var seconds = flow.get('E-W-Sec');\nmsg.payload = seconds;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "11d4041e3e232042"
            ]
        ]
    },
    {
        "id": "11d4041e3e232042",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "0ae4aa741075032c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "E - W Seconds: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "b11b970e6e4b9ad9",
        "type": "inject",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetStatus",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "5bc97fdbf5568df5",
                "af836cb06b9be681",
                "6b8cf7bb1a1d74e3",
                "a01a92da9853ee25",
                "0b42309509627bcc",
                "d15bb0e628064359",
                "f30361fa26ce2f04",
                "c34ca19f8d2fcf7f",
                "5dc0cf5df1981ea9"
            ]
        ]
    },
    {
        "id": "75aba2d075673b3b",
        "type": "ui_switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "N - S Light",
        "tooltip": "",
        "group": "0d4e0ec33aac89b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "14f2f3e0a845ada3"
            ]
        ]
    },
    {
        "id": "a61db04ac2f4917f",
        "type": "ui_switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "E - W Light",
        "tooltip": "",
        "group": "0d4e0ec33aac89b0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 680,
        "wires": [
            [
                "3d7c71e1b25844bf"
            ]
        ]
    },
    {
        "id": "14f2f3e0a845ada3",
        "type": "switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "CheckSwitch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "e7d7f29f98f4307a",
                "f21021959ba3d0c8",
                "cb629e18496dbdf8"
            ],
            [
                "dbe5b854dd6efcc8"
            ]
        ]
    },
    {
        "id": "e7d7f29f98f4307a",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetFalse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 640,
        "wires": [
            [
                "a61db04ac2f4917f"
            ]
        ]
    },
    {
        "id": "dbe5b854dd6efcc8",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetTrue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "a61db04ac2f4917f"
            ]
        ]
    },
    {
        "id": "3d7c71e1b25844bf",
        "type": "switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "CheckSwitch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 680,
        "wires": [
            [
                "1a1a4c9ca58ba78f",
                "6041d97588906e39",
                "98da23d9f94d7f45"
            ],
            [
                "88d72929e1c72489"
            ]
        ]
    },
    {
        "id": "1a1a4c9ca58ba78f",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetFalse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 800,
        "wires": [
            [
                "a51d33d46c1cf125"
            ]
        ]
    },
    {
        "id": "88d72929e1c72489",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetTrue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 860,
        "wires": [
            [
                "51a396984a561b5d"
            ]
        ]
    },
    {
        "id": "c6d93e80a2089ef1",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "E-W-Sec-0",
        "rules": [
            {
                "t": "set",
                "p": "E-W-Sec",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "7bbe5350baf2305f",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "N-S-Sec-0",
        "rules": [
            {
                "t": "set",
                "p": "N-S-Sec",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f21021959ba3d0c8",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetSlider=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "6041d97588906e39"
            ]
        ]
    },
    {
        "id": "98da23d9f94d7f45",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetSlider=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 740,
        "wires": [
            [
                "07b43773b9878d9c"
            ]
        ]
    },
    {
        "id": "54add883fa0187b5",
        "type": "link in",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetFalseForNS",
        "links": [
            "a51d33d46c1cf125"
        ],
        "x": 95,
        "y": 600,
        "wires": [
            [
                "75aba2d075673b3b"
            ]
        ]
    },
    {
        "id": "a51d33d46c1cf125",
        "type": "link out",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetFalseForNS",
        "mode": "link",
        "links": [
            "54add883fa0187b5"
        ],
        "x": 1285,
        "y": 800,
        "wires": []
    },
    {
        "id": "e95cec74bceb82db",
        "type": "link in",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetTrueForNS",
        "links": [
            "51a396984a561b5d"
        ],
        "x": 95,
        "y": 640,
        "wires": [
            [
                "75aba2d075673b3b"
            ]
        ]
    },
    {
        "id": "51a396984a561b5d",
        "type": "link out",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "SetTrueForNS",
        "mode": "link",
        "links": [
            "e95cec74bceb82db"
        ],
        "x": 1275,
        "y": 860,
        "wires": []
    },
    {
        "id": "9081da26f8e095b9",
        "type": "link in",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "Set-0-For-NS-Slider",
        "links": [
            "cb629e18496dbdf8"
        ],
        "x": 1225,
        "y": 680,
        "wires": [
            [
                "07b43773b9878d9c"
            ]
        ]
    },
    {
        "id": "cb629e18496dbdf8",
        "type": "link out",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "Set-0-For-NS-Slider",
        "mode": "link",
        "links": [
            "9081da26f8e095b9"
        ],
        "x": 555,
        "y": 520,
        "wires": []
    },
    {
        "id": "e7cb555a08991004",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "S-bar",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "85d91c550e4711cd",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "N-bar",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "a2df6cb613be0975",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "E-bar",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5bd557b7581009f3",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "W-bar",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "6b8cf7bb1a1d74e3",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetSBarStat",
        "func": "var stat = flow.get('S-bar');\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "46f4e88a542ca5db"
            ]
        ]
    },
    {
        "id": "0b42309509627bcc",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetEBarStat",
        "func": "var stat = flow.get('E-bar');\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "588172a30b805b7c"
            ]
        ]
    },
    {
        "id": "a01a92da9853ee25",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetNBarStat",
        "func": "var stat = flow.get('N-bar');\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "5efccf85737d40b4"
            ]
        ]
    },
    {
        "id": "d15bb0e628064359",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetWBarStat",
        "func": "var stat = flow.get('W-bar');\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "600e39abc9f46ac8"
            ]
        ]
    },
    {
        "id": "46f4e88a542ca5db",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "d57797fab684f077",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "South Barrier: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "5efccf85737d40b4",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "d57797fab684f077",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "North Barrier: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "588172a30b805b7c",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "d57797fab684f077",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "East Barrier: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "600e39abc9f46ac8",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "d57797fab684f077",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "West Barrier: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "5988afb87ff6e796",
        "type": "ui_dropdown",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "Watering Plants",
        "tooltip": "",
        "place": "Select option",
        "group": "02fc8038ad5aab2b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ON",
                "value": "ON",
                "type": "str"
            },
            {
                "label": "OFF",
                "value": "OFF",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 560,
        "y": 780,
        "wires": [
            [
                "47ec01487de3a822"
            ]
        ]
    },
    {
        "id": "47ec01487de3a822",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "watering",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9d738dfcfb3786fe",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "1e94314d2feafd46",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Watering plants is ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "f30361fa26ce2f04",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetWateringStat",
        "func": "var stat = flow.get('watering');\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "9d738dfcfb3786fe"
            ]
        ]
    },
    {
        "id": "e2a9ab939b2e5fd2",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "group": "9aee502dcd64e40e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 900,
        "wires": []
    },
    {
        "id": "c34ca19f8d2fcf7f",
        "type": "ui_digital_clock",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "Clock",
        "group": "f68392b55f7cecc2",
        "order": 0,
        "width": 0,
        "height": 0,
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "271eca2e6ba2bf62",
        "type": "ui_switch",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "label": "LightSwitch",
        "tooltip": "",
        "group": "b203ca407fb88eac",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "35a927075cf27389",
                "65379e63bd5c41ca"
            ]
        ]
    },
    {
        "id": "35a927075cf27389",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "group": "b203ca407fb88eac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights is",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 340,
        "y": 920,
        "wires": []
    },
    {
        "id": "65379e63bd5c41ca",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "LightsStat",
        "rules": [
            {
                "t": "set",
                "p": "LightsStat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "5dc0cf5df1981ea9",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "name": "GetLightsStat",
        "func": "var stat = flow.get('LightsStat');\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "8923f251ca656cf2"
            ]
        ]
    },
    {
        "id": "8923f251ca656cf2",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "6151b642db6e3918",
        "group": "13ce92e13f5a7876",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights is ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "04bba440642aa1aa",
        "type": "ui_gauge",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "cd64ab5a049fddd8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Car Flow",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 180,
        "wires": []
    },
    {
        "id": "b05e765f6dd0df2d",
        "type": "ui_chart",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "8c70f7992935cc69",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Car Flow Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 60,
        "wires": [
            [
                "b2982e288d3840fd"
            ]
        ]
    },
    {
        "id": "b4331490b5b823df",
        "type": "ui_gauge",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "6bb1801a993b36fd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Car Flow",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 120,
        "wires": []
    },
    {
        "id": "4f4a6e16563542e4",
        "type": "ui_gauge",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "f0dd818a1d6a6c6a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Car Flow",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 240,
        "wires": []
    },
    {
        "id": "b2982e288d3840fd",
        "type": "ui_gauge",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "8c70f7992935cc69",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Car Flow",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "137f636b36572853",
        "type": "ui_chart",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "6bb1801a993b36fd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Car Flow Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 120,
        "wires": [
            [
                "b4331490b5b823df"
            ]
        ]
    },
    {
        "id": "9098b670df099dc3",
        "type": "ui_chart",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "cd64ab5a049fddd8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Car Flow Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 180,
        "wires": [
            [
                "04bba440642aa1aa"
            ]
        ]
    },
    {
        "id": "054f85469e821478",
        "type": "ui_chart",
        "z": "66d62ace1f3cf01e",
        "g": "4ee44b98999e817d",
        "name": "",
        "group": "f0dd818a1d6a6c6a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Car Flow Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "4f4a6e16563542e4"
            ]
        ]
    },
    {
        "id": "881701b2f55ce96f",
        "type": "ui_button",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "name": "",
        "group": "9aee502dcd64e40e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "TurnAround",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Turned",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "e2a9ab939b2e5fd2"
            ]
        ]
    },
    {
        "id": "9b5a301f913cc9d6",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "group": "c9d4794438ee3af2",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Camera Clips",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 960,
        "wires": []
    },
    {
        "id": "629ea2bded793c1b",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "109c6eefb72fdedf",
        "group": "c9d4794438ee3af2",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Recent Audio",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 960,
        "wires": []
    },
    {
        "id": "b1068c07995221d3",
        "type": "ui_text_input",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "6ba8ff33a6d5b888",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "745bbf2f679fba01"
            ]
        ]
    },
    {
        "id": "745bbf2f679fba01",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "90905b25dd0a01ab",
        "type": "ui_text_input",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "6ba8ff33a6d5b888",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 1320,
        "wires": [
            [
                "9c469d2be420d4ab"
            ]
        ]
    },
    {
        "id": "9c469d2be420d4ab",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "3609165474adc6e4",
        "type": "ui_button",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "group": "6ba8ff33a6d5b888",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-reply",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "983947fcc7ab523d",
                "f4ab0ac4cfdb5320"
            ]
        ]
    },
    {
        "id": "e89f340902f035a4",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "group": "6ba8ff33a6d5b888",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 795,
        "y": 1120,
        "wires": [],
        "l": false
    },
    {
        "id": "4d2430340ee57fcf",
        "type": "ui_date_picker",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "label": "D.O.B",
        "group": "b935256560f8da33",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "74e2e44700a38f7e",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "group": "b935256560f8da33",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Username",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a03eb058541b96ce",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "GetUsername",
        "func": "var username = flow.get('username');\nmsg.payload = username;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1380,
        "wires": [
            [
                "74e2e44700a38f7e"
            ]
        ]
    },
    {
        "id": "98ad77c83bb01437",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "group": "b935256560f8da33",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Password",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 1440,
        "wires": []
    },
    {
        "id": "66dcc4c1b632bee8",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "GetPassword",
        "func": "var password = flow.get('password');\nmsg.payload = password;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1440,
        "wires": [
            [
                "98ad77c83bb01437"
            ]
        ]
    },
    {
        "id": "92c408a65b3ef84f",
        "type": "ui_button",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "group": "193781a9a0f98e11",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-reply",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "a03eb058541b96ce",
                "66dcc4c1b632bee8",
                "c69eb0a0de0b4b76",
                "6aa46d48fc4cbf05"
            ]
        ]
    },
    {
        "id": "2cf5822c0d064463",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "group": "193781a9a0f98e11",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 495,
        "y": 1560,
        "wires": [],
        "l": false
    },
    {
        "id": "c69eb0a0de0b4b76",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sign up successful",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1560,
        "wires": [
            [
                "2cf5822c0d064463"
            ]
        ]
    },
    {
        "id": "16b5d9a01ae48b19",
        "type": "ui_text_input",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "193781a9a0f98e11",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 1500,
        "wires": [
            [
                "43a352b4cffbfca6"
            ]
        ]
    },
    {
        "id": "43a352b4cffbfca6",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "1172fb28299d38e3",
        "type": "ui_text_input",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "193781a9a0f98e11",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 700,
        "y": 1560,
        "wires": [
            [
                "f0fd74fb08e11ebf"
            ]
        ]
    },
    {
        "id": "f0fd74fb08e11ebf",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "6aa46d48fc4cbf05",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "GetEmail",
        "func": "var password = flow.get('email');\nmsg.payload = password;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1500,
        "wires": [
            [
                "7c2239ccc9752540"
            ]
        ]
    },
    {
        "id": "7c2239ccc9752540",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "group": "b935256560f8da33",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Email",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1500,
        "wires": []
    },
    {
        "id": "8266856107acf519",
        "type": "ui_text_input",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "label": "Email",
        "tooltip": "",
        "group": "193781a9a0f98e11",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 690,
        "y": 1440,
        "wires": [
            [
                "1256feee341c8ccd"
            ]
        ]
    },
    {
        "id": "1256feee341c8ccd",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "email",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "f4ab0ac4cfdb5320",
        "type": "firebase-get",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "constraints": {},
        "database": "7066c11fdd46d2e4",
        "outputType": "json",
        "passThrough": false,
        "path": "topic",
        "pathType": "msg",
        "useConstraints": false,
        "x": 350,
        "y": 1200,
        "wires": [
            [
                "742e3cf7ab3433ee"
            ]
        ]
    },
    {
        "id": "7e9eb67dfb75a3f6",
        "type": "ui_text",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "group": "6ba8ff33a6d5b888",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 795,
        "y": 1160,
        "wires": [],
        "l": false
    },
    {
        "id": "742e3cf7ab3433ee",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "CorrectUsername",
                "pt": "flow",
                "to": "payload.User.Username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "CorrectPassword",
                "pt": "flow",
                "to": "payload.User.Password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "983947fcc7ab523d",
        "type": "function",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "CheckLogin",
        "func": "var username = flow.get('username');\nvar password = flow.get('password');\nvar cor_Username = flow.get('CorrectUsername');\nvar cor_Password = flow.get('CorrectPassword');\nif (username == cor_Username && password == cor_Password)\n    msg.payload = true;\nelse\n    msg.payload = false;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "6eebd76ed2383b3d"
            ]
        ]
    },
    {
        "id": "6eebd76ed2383b3d",
        "type": "switch",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "d44a77188c34da2f"
            ],
            [
                "07d7593f526ff696"
            ]
        ]
    },
    {
        "id": "07d7593f526ff696",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Invalid Username or Password",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1160,
        "wires": [
            [
                "7e9eb67dfb75a3f6"
            ]
        ]
    },
    {
        "id": "d44a77188c34da2f",
        "type": "change",
        "z": "66d62ace1f3cf01e",
        "g": "31a1910d4448483d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Log in successful",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1120,
        "wires": [
            [
                "e89f340902f035a4"
            ]
        ]
    }
]